<div id='trashCan'>
   <div class='custom-popup' id="map">

    <div id='inputs'></div>
    <div id='errors'></div>
    <div id="block"></div>
    <!-- <input type="text" id="start_date" placeholder="start date"/>
    <input type="text" id="end_date" placeholder="end date"/> -->
    <img src='/static/build/images/mapLogo9.png' id='mapLogo'/>
    <!-- <input type="text" id="favArtist" placeholder="favorite artist"> -->
    <input type="text" id="keywords" placeholder="keywords">
    <button type="submit" id="submit">Route</button>
   </div>
   <div id='gel'><span id='gelText'>Please select your search date-range.</span></div>
   <div id='directions'>
    <button id="menu"> <<br/><<br/>< </button>
    <div id='routes'></div>
    <div id='instructions'></div>
   </div>
</div>
